#cart-icon{
    position: relative;
    cursor: pointer;
}
#cart-count{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: brown;
    color: antiquewhite;
    border-radius: 50%;
    padding: 5px 8px;
    
}
.card-img-top{
    width: 100px;
    height: 100px;
}

.carousel{
    padding:15px;
    height:150%;
    width: 80%;
    border-radius: 30px;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}
.navbar{
    
    background-color: rgb(62, 26, 182);
}
ul li a{
    color: rgb(198, 199, 232);
    padding: 3vh;

    text-decoration: none;
    list-style: none;
}

li{
    display: inline-block;
}
    

    
    
